html, body{
    height: 100%;
    width: 100%;
}


@font-face {
    font-family: 站酷高端黑;
    src:url(../其他/站酷高端黑.ttf);
}


@keyframes 上出 {
    from {
        opacity: 0;
        transform: translate3d(0, -50%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes 下出 {
    from {
        opacity: 0;
        transform: translate3d(0, 50%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes 左出 {
    from {
        opacity: 0;
    transform: translate3d(-50%, 0, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes 右出 {
    from {
        opacity: 0;
        transform: translate3d(50%, 0, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}


.上出 {
    animation-duration: 0.8s;
    animation-fill-mode: both;
    animation-name: 上出;
}

.下出 {
    animation-duration: 0.8s;
    animation-fill-mode: both;
    animation-name: 下出;
}
.左出 {

    animation-duration: 0.8s;
    animation-fill-mode: both;
    animation-name: 左出;
}

.右出 {
    animation-duration: 0.8s;
    animation-fill-mode: both;
    animation-name: 右出;
}



.上出动画 {
    opacity: 0;
    filter: alpha(opacity=0)\9;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0)
}

.is-visible .上出动画 {
    opacity: 1; 
    filter: alpha(opacity=100)\9;
    -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
    transition: opacity 0.8s, transform 0.8s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}


.下出动画 {
    opacity: 0;
    filter: alpha(opacity=0)\9;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0)
}

.is-visible .下出动画 {
    opacity: 1; 
    filter: alpha(opacity=100)\9;
    -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
    transition: opacity 0.8s, transform 0.8s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}


.左出动画 {
    opacity: 0;
    filter: alpha(opacity=0)\9;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0)
}

.is-visible .左出动画 {
    opacity: 1; 
    filter: alpha(opacity=100)\9;
    -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
    transition: opacity 0.8s, transform 0.8s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}


.右出动画 {
    opacity: 0;
    filter: alpha(opacity=0)\9;
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0)
}

.is-visible .右出动画 {
    opacity: 1;
    filter: alpha(opacity=100)\9;
    -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
    transition: opacity 0.8s, transform 0.8s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}



body{
    margin: 0px;
    padding: 0px;
}



#导航 {
    opacity: 0.6; 
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: rgb(41, 41, 41);
}
#导航 ul li {
    display: inline-block;
    width: auto;
    padding: 0px 1%;
    font-family: 站酷高端黑;
    font-size: 30px;
}
#导航 ul li a {
    text-decoration: none;
    color: rgb(161,161,161);
}
#标题 {
    width: 210px;
    padding: 12px;
    float: left;
}
#副标题 {
    font-family: 站酷高端黑;
    font-size: 10px;
}
#主标题 {
    font-family: 黑体;
    font-size: 30px;
    color: white;
    float: right;
}



#主图 div {
	position: absolute;
	left: 10%;
	top: 100px;
	font-size: 100px;
	color: white;
}


.下出动画1 {
	opacity: 0;
	filter: alpha(opacity=0)\9;
	-webkit-transform: translate3d(0, 50%, 0);
	transform: translate3d(0, 50%, 0)
}

.is-visible .下出动画1 {
	opacity: 1;
	filter: alpha(opacity=100)\9;
	-webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
	transition: opacity 0.8s, transform 0.8s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}

.下出动画2 {
	opacity: 0;
	filter: alpha(opacity=0)\9;
	-webkit-transform: translate3d(0, 50%, 0);
	transform: translate3d(0, 50%, 0)
}

.is-visible .下出动画2 {
	opacity: 1;
	filter: alpha(opacity=100)\9;
	-webkit-transition: opacity 1.1s, -webkit-transform 1.1s;
	transition: opacity 1.1s, transform 1.1s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}

.下出动画3 {
	opacity: 0;
	filter: alpha(opacity=0)\9;
	-webkit-transform: translate3d(0, 50%, 0);
	transform: translate3d(0, 50%, 0)
}

.is-visible .下出动画3 {
	opacity: 1;
	filter: alpha(opacity=100)\9;
	-webkit-transition: opacity 1.4s, -webkit-transform 1.4s;
	transition: opacity 1.4s, transform 1.4s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}

.下出动画4 {
	opacity: 0;
	filter: alpha(opacity=0)\9;
	-webkit-transform: translate3d(0, 50%, 0);
	transform: translate3d(0, 50%, 0)
}

.is-visible .下出动画4 {
	opacity: 1;
	filter: alpha(opacity=100)\9;
	-webkit-transition: opacity 1.7s, -webkit-transform 1.7s;
	transition: opacity 1.7s, transform 1.7s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}