@font-face {
    font-family: 站酷高端黑;
    src:url(../其他/站酷高端黑.ttf);
}


@keyframes 左出 {
    from {
        opacity: 0.2;
    transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 0.9;
        transform: none;
    }
}

@keyframes 右出 {
    from {
        opacity: 0.2;
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 0.9;
        transform: none;
    }
}



.左出 {

    animation-duration: 3.6s;
    animation-fill-mode: both;
    animation-name: 左出;
}

.右出 {
    animation-duration: 3.6s;
    animation-fill-mode: both;
    animation-name: 右出;
}



.左出动画 {
    opacity: 0;
    filter: alpha(opacity=0)\9;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-10%, 0, 0)
}

.is-visible .左出动画 {
    opacity: 1; 
    filter: alpha(opacity=100)\9;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}


.右出动画 {
    opacity: 0;
    filter: alpha(opacity=0)\9;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(10%, 0, 0)
}

.is-visible .右出动画 {
    opacity: 1; 
    filter: alpha(opacity=100)\9;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}
